<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Setting xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
<gauge_types>
    <string>Барьер искробезопасности БИБ1</string>
    <string>Барьер искробезопасности БИБ1/2</string>
    <string>Барьер искробезопасности БИБ2</string>
    <string>Барьер искробезопасности БИБ2/2</string>
    <string>Барьер искробезопасности БИБ2/2-1</string>
    <string>Барьер искробезопасности БИБ2/2-2</string>
    <string>Барьер искробезопасности БИБ2/2-0</string>
    <string>Барьер искробезопасности БИБ2/2-6</string>
    <string>Барьер искробезопасности БИБ4/2</string>
    <string>Барьер искробезопасности БИБ4</string>
    <string>Барьер искробезопасности БИБ5</string>
    <string>Барьер искробезопасности БИБ5/2</string>
    <string>Блок вычисления расхода ГАММА-9</string>
    <string>Блок вычисления расхода ГАММА-9 А1-В1</string>
    <string>Блок вычисления расхода ГАММА-9 А1-В2</string>
    <string>Блок вычисления расхода ГАММА-9 А2-В2</string>
    <string>Блок питания изолированный БПИ1</string>
    <string>Блок питания изолированный БПИ2</string>
    <string>Блок питания изолированный БПИ3</string>
    <string>Блок питания изолированный БПИ3</string>
    <string>Блок питания изолированный БПИ4</string>
    <string>Блок сопряжения с датчиком БСД-1</string>
    <string>Блок сопряжения с датчиком БСД-2</string>
    <string>Блок сопряжения с датчиком БСД-3</string>
    <string>Блок сопряжения с датчиком БСД-4</string>
    <string>Блок тиристорных усилителей БТУ</string>
    <string>Блок управления электроприводом БУЭП-1</string>
    <string>Датчик избыточного давления ДИД1</string>
    <string>Датчик избыточного давления ДИД2</string>
    <string>Датчик положения уровня ДПУ2М</string>
    <string>Датчик положения уровня ДПУ3</string>
    <string>Датчик положения уровня ДПУ3М</string>
    <string>Датчик положения уровня ДПУ5</string>
    <string>Датчик положения уровня ДПУ5А</string>
    <string>Датчик положения уровня ДПУ6</string>
    <string>Датчик положения уровня ДПУ6М</string>
    <string>Датчик положения уровня ДПУ6А</string>
    <string>Датчик положения уровня ДПУ6МА</string>
    <string>Датчик положения уровня ДПУ7</string>
    <string>Датчик температуры многоточечный ДТМ2-0</string>
    <string>Датчик температуры многоточечный ДТМ2-0А</string>
    <string>Датчик температуры многоточечный ДТМ2-1</string>
    <string>Датчик температуры многоточечный ДТМ2-1А</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-01-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-01А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-01А-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-01-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02Т-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02ТА-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02ТА-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-02Т-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-03-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-03А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-03А-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-03-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-04-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-04А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-04-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-05-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-05-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-06-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-06-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-07-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-07-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-08-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-08А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-08-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-10-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-10-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-10А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-10ТА-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-10Т-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-10Т-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-12-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-12А-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-12А-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-12-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-14-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-14-1</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-16-0</string>
    <string>Датчик уровня ультразвуковой ДУУ2М-16-1</string>
    <string>Датчик уровня ультразвуковой ДУУ5</string>
    <string>Датчик уровня ультразвуковой ДУУ6</string>
    <string>Датчик уровня ультрозвуковой ДУУ2М-10ТА-0</string>
    <string>Контроллер микропроцессорный ГАММА-10 исп.0</string>
    <string>Контроллер микропроцессорный ГАММА-10М исп.0</string>
    <string>Контроллер микропроцессорный ГАММА-10 исп.1</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.0</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.1</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.2</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.3</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.4</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.5</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.6</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.7</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.8</string>
    <string>Контроллер микропроцессорный ГАММА-7М исп.9</string>
    <string>Контроллер микропроцессорный ГАММА-8М</string>
    <string>Контроллер промышленный комбинированный ГАММА-11</string>
    <string>Контроллер ГАММА-12</string>
    <string>Контроллер-сборщик микропроцессорный КСМ2</string>
    <string>Контроллер-сборщик микропроцессорный КСМ3</string>
    <string>Контроллер-сборщик микропроцессорный КСМ4</string>
    <string>Модуль ввода МВ2</string>
    <string>Модуль ввода МВ3</string>
    <string>Модуль интерфейса  МИ4</string>
    <string>Модуль интерфейса  МИ6</string>
    <string>Модуль интерфейса термометров МИТ2</string>
    <string>Модуль ключей МК2</string>
    <string>Модуль ключей МК3</string>
    <string>Модуль процессора МП7</string>
    <string>Модуль процессора МП9</string>
    <string>Модуль расходомера МР2</string>
    <string>Модуль регулятора МРГ1</string>
    <string>Модуль регулятора МРГ2</string>
    <string>Модуль регулятора МРГ3</string>
    <string>Модуль регулятора МРГ4</string>
    <string>Модуль сопряжения с датчиками МСД2</string>
    <string>Модуль сопряжения с терминалом МСТ</string>
    <string>Модуль токовых входов МТВ3</string>
    <string>Модуль токовых сигналов МТВ4</string>
    <string>Модуль токовых сигналов МТС3</string>
    <string>Преобразователь вторичный сигнализатора ПВС2М</string>
    <string>Преобразователь вторичный сигнализатора ПВС3</string>
    <string>Преобразователь вторичный сигнализатора ПВС4</string>
    <string>Преобразователь вторичный сигнализатора ПВС5</string>
    <string>Пульт  управления  КСМ4</string>
    <string>Терминал КПК ГАММА-11</string>
    <string>Терминал-2</string>
    <string>Уровнемер поплавковый ДУУ4М-01-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-01-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-02-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-02-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-02Т-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-03-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-03-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-04-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-04-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-05-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-05-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-06-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-06-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-07-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-07-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-08-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-08-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-10-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-10-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-10Т-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-12-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-12-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-14-RS</string>
    <string>Уровнемер поплавковый ДУУ4М-14-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4М-16-ТВ</string>
    <string>Уровнемер поплавковый ДУУ4МА</string>
    <string>Уровнемер ГАММА-ДУУ2</string>
    <string>Уровнемер радиоволновый ГАММА-РДУ1</string>
    <string>Уровнемер радиоволновый РДУ1-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-1-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-0-0-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-0А-0-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-2А-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-3-НД-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-3-Н-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-3А-Н-ТВ</string>
    <string>Уровнемер радиоволновый РДУ1-RS</string>
    <string>Пульт контроля и управления ПКУ1</string>
    <string>Пульт контроля и управления ПКУ</string>
    <string>Пульт управления КСМ4</string>
    <string>Комплекс измерительный ДУУ2М-БСД-22</string>
    <string>Комплекс измерительный ДУУ2М-БСД-21</string>
    <string>Датчик положения уровня ДПУ8</string>
    <string>Датчик положения уровня ДПУ8М</string>
    <string>Датчик уровня ультразвуковой ДУУ10</string>
    <string>Преобразователь вторичный сигнализатора ПВС7</string>
    <string>Преобразователь вторичный сигнализатора ПВС8</string>
    <string>Преобразователь вторичный сигнализатора ПВС8-d</string>
    <string>Сигнализатор уровня ультразвуковой СУР-10</string>
    <string>Сигнализатор уровня ультразвуковой СУР-9</string>
    <string>Сигнализатор уровня ультразвуковой СУР-11</string>
    <string>Барьер искробезопасности БИБ3</string>
    <string>Преобразователь давления Альбатрос p20 тип 403026</string>
  </gauge_types>
  <selected_gauge>142</selected_gauge>
  <work>0</work>
  <talon>0</talon>
<number>1</number>
<setup>
    <int>470</int>
    <int>275</int>
    <int>255</int>
    <int>335</int>
    <int>200</int>
    <int>253</int>
    <int>586</int>
    <int>450</int>
    <int>500</int>
    <int>43</int>
    <int>95</int>
    <int>118</int>
    <int>657</int>
    <int>675</int>
    <int>710</int>
    <int>657</int>
    <int>675</int>
    <int>710</int>
    <int>10</int>
    <int>8</int>
    <int>8</int>
    <int>8</int>
    <int>6</int>
    <int>8</int>
    <int>8</int>
    <int>6</int>
    <int>8</int>
</setup>
</Setting>
